<html>

<head>
    <title>PluginBadges</title>
    <link rel="stylesheet" href="uikit/css/uikit.min.css" />
    <link rel="stylesheet" href="core.css" />
    <script src="uikit/js/uikit.min.js"></script>
    <script src="uikit/js/uikit-icons.min.js"></script>
    <script src="jquery/jquery.min.css"></script>
    <script src="client.js"></script>
</head>
<body>
    <div class="uk-navbar-container uk-sticky uk-sticky-fixed uk-active uk-sticky-below">
        <div class="uk-container uk-container-expand">
            <nav class="uk-navbar">
                <div class="uk-navbar-left">
                    <a class="uk-navbar-item uk-logo">PluginBadges</a>
                    <a href="https://github.com/dscalzi" class="uk-navbar-item uk-text-lead uk-text-small">By Daniel Scalzi</a>
                </div>
                <div class="uk-navbar-right">
                    <a href="https://github.com/dscalzi/PluginBadges" class="uk-navbar-item uk-text-lead uk-text-small uk-margin-large-right">Source (GitHub)</a>
                </div>
            </nav>
        </div>
    </div>

    <div class="uk-container uk-margin-medium-top uk-align-center uk-width-1-2">
        <h2>Create Your Badge</h2>
        <h5 style="margin-top:0px;">This is a basic generator to get you started. All options provided by <a href="https://shields.io/">https://shields.io/</a> are also supported. Just add extra parameters to the generated url.</h5>
        <form class="uk-form-stacked uk-child-width-auto@m uk-grid">
            <div class="uk-column-1-1 uk-width-1-1">

                <div class="uk-grid-small uk-child-width-1-2 uk-grid" uk-grid>
                    <div class="uk-first-column">
                        <div class="uk-margin">
                            <div class="uk-inline uk-width-1-1">
                                <a class="uk-form-icon uk-form-icon-flip uk-icon" uk-icon="icon: pencil"></a>
                                <input id="input_badge_name" class="uk-input" type="text" placeholder="Plugin Name">
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="uk-margin">
                            <div class="uk-inline uk-width-1-1">
                                <a class="uk-form-icon uk-form-icon-flip uk-icon" uk-icon="icon: paint-bucket"></a>
                                <input id="input_color" class="uk-input" type="text" placeholder="Badge Color">
                            </div>
                        </div>
                    </div>
                </div>
                
                
                <div class="uk-margin">
                    <div class="uk-inline uk-width-1-1">
                        <a class="uk-form-icon uk-form-icon-flip uk-icon" uk-icon="icon: link"></a>
                        <input id="input_spigot" class="uk-input" type="text" placeholder="Spigot">
                    </div>
                </div>
                <div class="uk-margin">
                    <div class="uk-inline uk-width-1-1">
                        <a class="uk-form-icon uk-form-icon-flip uk-icon" uk-icon="icon: link"></a>
                        <input id="input_bukkit" class="uk-input" type="text" placeholder="Dev Bukkit">
                    </div>
                </div>
                <div class="uk-margin">
                    <div class="uk-inline uk-width-1-1">
                        <a class="uk-form-icon uk-form-icon-flip uk-icon" uk-icon="icon: link"></a>
                        <input id="input_ore" class="uk-input" type="text" placeholder="Ore (Sponge)">
                    </div>
                </div>
                <div class="uk-margin">
                    <div class="uk-inline uk-width-1-1">
                        <a class="uk-form-icon uk-form-icon-flip uk-icon" uk-icon="icon: link"></a>
                        <input id="input_github" class="uk-input" type="text" placeholder="GitHub Repo">
                    </div>
                </div>
                <div class="uk-margin">
                    <div class="uk-inline uk-width-1-1">
                        <button id="button_submit" class="uk-button uk-button-primary" type="button">Submit</button>
                        <button id="button_clear" class="uk-button uk-button-default" type="button">Clear</button>
                    </div>
                </div>

                <div class="uk-margin-medium-top">
                    <div class="uk-grid-small uk-grid" uk-grid>
                        <div class="uk-first-column" style="display: flex;align-items: center;">
                            <img id="img_preview" src="https://pluginbadges.glitch.me/api/SkyChanger-green.svg?bukkit=skychanger&spigot=skychanger.37524/&sponge=SkyChanger&ghuser=dscalzi&ghrepo=SkyChanger&style=for-the-badge"></img>
                        </div>
                        <div class="uk-width-expand">
                            <div class="uk-inline uk-width-1-1">
                                <a class="uk-form-icon uk-form-icon-flip uk-icon" uk-icon="icon: code"></a>
                                <input id="output_link" class="uk-input" type="text" value="https://pluginbadges.glitch.me/api/SkyChanger-green.svg?bukkit=skychanger&spigot=skychanger.37524/&sponge=SkyChanger&ghuser=dscalzi&ghrepo=SkyChanger&style=for-the-badge">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

</body>
</html>